@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/*

*{box-sizing:border-box;}

		
		.social{
			
			width:48px;
			position:fixed;
			top:50px;
			right:0;
		}

		
		.social{
			top:50%;
			height:205px;
			margin-top:-50px;
		}

*/

.redes-sociales {
  position: fixed;
  top: 50%;
  transform: translateY(15%);
  right: 20px; /* Ajusta el valor según la posición deseada */
  z-index: 9999;
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  margin-bottom: 20px; /* Espacio entre íconos */
}

.redes-sociales li a {
  display: block;
  width: 40px; 
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: white; 
  background-color: #0084e3;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.redes-sociales li a:hover {
  background-color: #006fbf;
}


.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease, visibility 3s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
}
		